# Genel gereksizler
.git/
.gitignore
README.md
*.md
*.log
*.env
AI-SupportedPatientTrackingPlatform.Back-main/.vs/
AI-SupportedPatientTrackingPlatform.Back-main/**/bin/
AI-SupportedPatientTrackingPlatform.Back-main/**/obj/
AI-SupportedPatientTrackingPlatform.Back-main/tests/
AI-SupportedPatientTrackingPlatform.Back-main/**/*.user
AI-SupportedPatientTrackingPlatform.Back-main/**/*.suo
AI-SupportedPatientTrackingPlatform.Back-main/**/*.db
AI-SupportedPatientTrackingPlatform.UI-main/node_modules/
AI-SupportedPatientTrackingPlatform.UI-main/dist/
AI-SupportedPatientTrackingPlatform.UI-main/.angular/
AI-SupportedPatientTrackingPlatform.UI-main/.vscode/
AI-SupportedPatientTrackingPlatform.UI-main/*.log
argocd/
jenkins/
istio/
logging/
monitoring/
templates/
values.yaml
backend.Dockerfile
frontend.Dockerfile